# ----- PROJECT SETTINGS -----
PRODUCT_NAME=Your Product Name
PRODUCT_DESCRIPTION=Your Product Description
PRODUCT_URL=https://yourproducturl.com

# ----- DISCORD -----
DISCORD_TOKEN=your_discord_token_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

BOT_PREFIX=!
BOT_ACTIVITY=Playing with code
BOT_STATUS=online

BOT_OWNER_ID=your_discord_user_id_here


# ----- DATABASE -----
MONGO_URI=your_mongo_uri_here

# ----- PTERODACTYL PANEL -----
PTERODACTYL_URL=your_pterodactyl_panel_url_here
PTERODACTYL_API_KEY=your_pterodactyl_api_key_here
PTERODACTYL_CLIENT_API_KEY=your_pterodactyl_client_api_key_here

# ----- TICKET SYSTEM -----
TICKET_CATEGORY_ID=your_ticket_category_id_here