# ----- PROJECT SETTINGS -----
PRODUCT_NAME=Your Product Name
PRODUCT_DESCRIPTION=Your Product Description
PRODUCT_URL=https://yourproducturl.com

# ----- DISCORD -----
DISCORD_TOKEN=your_discord_token_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

BOT_PREFIX=!
BOT_ACTIVITY=Playing with code
BOT_ACTIVITY_TYPE=online # What type of activity the bot is doing. Options: "playing", "streaming", "listening", "watching", "competing"

# ----- BOT OWNER -----
BOT_OWNER_ID=your_discord_user_id_here

# ---- GUIDE -----
GUILD_ID=your_discord_guild_id_here

# ----- DATABASE -----
MONGO_URI=your_mongo_uri_here

# ----- PTERODACTYL PANEL -----
PTERODACTYL_URL=your_pterodactyl_panel_url_here
PTERODACTYL_API_KEY=your_pterodactyl_api_key_here
PTERODACTYL_CLIENT_API_KEY=your_pterodactyl_client_api_key_here

# ----- TICKET SYSTEM -----
TICKET_CATEGORY_ID=your_ticket_category_id_here

# ----- LOGGING -----
LOG_CHANNEL_ID=your_log_channel_id_here
ANNOUNCE_COOLDOWN=60
ANNOUNCE_CHANNEL_ID=your_announce_channel_id_here
NO_SERVER_ROLE_ID=your_no_server_role_id_here
WHITELISTED_UUIDS=[
  "uuid1",
  "uuid2",
  "uuid3"
]
MAX_SLOTS=15